<h2>Cart</h2>
<%= @items.inspect %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Full Price</th>
    </tr>
  </thead>
  <tbody>
  	
  	<% @total_price = 0 %>
  	<% @total_quantity = 0 %>
  	<% @total_item = "" %>

    <% @items.each do |item| %>
    <tr>
      <td><a href="/product/<%= item[0].id %>">Pizza <%= item[0].title %></a><br></td>
      <td><%= item[0].price %> RUB<br></td>
      <td><%= item[1] %></td>
      <td><%= item[0].price * item[1].to_f %> RUB</td>
    </tr>
    	
    	<% @total_price += item[0].price * item[1].to_f %>
    	<% @total_quantity += item[1].to_f %>
      
    <% end %>
    <tr>
      
    	<td><% @items.each do |item| %>
       <% "#{item[0].title} " + "#{item[1]}," %>

       <% @total_item += "#{item[0].title} " + "#{item[1]}, " %>

       <% end %>
      <%= @total_item %>  
      </td>
    	<td><%= @total_quantity %></td>
    	<td><%= @total_price %> RUB</td>
    </tr>
  </tbody>
</table>
</form>

<form action="/place_order" method="POST">

  <input name="order[orders_input]" type="hidden" value="<%= @orders_input %>" >

  <input name="title" type="hidden" value="<%= @total_item %>" >
  <input name="total_quantity" type="hidden" value="<%= @total_quantity %>" >
  <input name="total_price" type="hidden" value="<%= @total_price %>" >	

  <div class="mb-3">
    <label>Name</label>
    <input name="name_client" type="text" class="form-control" placeholder="Enter Name" value="<%= @name_client %>">
  </div>
  <div class="mb-3">
    <label>Phone</label>
    <input name="phone_client" type="text" class="form-control" placeholder="Enter Phone" value="<%= @phone_client %>" >
  </div>
  <div class="mb-3">
    <label>Address</label>
    <input name="address_client" type="text" class="form-control" placeholder="Delivery address" value="<%= @address_client %>" >
  </div>

   </br> 
  <button type="submit" class="btn btn-success">Order</button>
</form>